# IDE
.vscode
.idea/*


# Python
__pycache__/
*.py[cod]
*$py.class
.virtualenvs
.venv/
*.egg-info/
dist/
.coverage
.coverage.*
coverage.log
coverage_html
build/

# Singer JSON files
properties.json
config.json
state.json

*.db
.DS_Store
venv
env
blog_old.md
node_modules
*.pyc
tmp

# Docs
docs/_build/
docs/_templates/

# AI Code Assistants
.ai/
.aiconfig
.aider*
.claude/
.codeium/
.continue/
.copilot/
.cursor/
.github-copilot/
.gpteng/
.tabnine/
*.aider.chat.history.md

# Mock integration test data
tests/mock_integration/data/*
!tests/mock_integration/data/.gitkeep
